@media(max-width: 1024px){

    section, header {
        margin-bottom: 100px;
    }
    
    .conteudo #sobre {
        flex-direction: column;
    }

    .conteudo #sobre img {
        width: 300px;
    }

    .conteudo #projetos img {
        width: 350px;
    }

    .conteudo #linguagens {
        margin-bottom: 0;
    }

    .conteudo #linguagens h2 {
        font-size: 50px;
    }
}