@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova_bold.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 93, 214);
    color: #fff;
    font-family: 'Proxima Nova', 'Fredoka', sans-serif;

    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cabecalho .logo img {
    width: 300px;
    border-radius: 100%;
}

.cabecalho h1 {
    font-size: 30px;
    margin: 20px 0 40px 0;

    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 50px;
}

.cabecalho .menu {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.cabecalho .menu li a {
    font-size: 24px;
    transition: 0.3s ease-in-out;
    padding: 10px 20px;
    border-radius: 50px;
}

.cabecalho .menu li a:hover {
    background-color: #fff;
    color: #000;
}

.conteudo #sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
}

.conteudo #sobre h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.conteudo #sobre p {
    font-size: 20px;
    width: 725px;
    text-align: justify;
}

.conteudo #sobre img {
    width: 450px;
    border-radius: 100%;
}

.conteudo #projetos {
    text-align: center;
    min-height: 100vh;
}

.conteudo #projetos .projetos-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.conteudo #projetos .projetos-container .projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.conteudo #projetos .titulo-secao {
    font-size: 40px;
}

.conteudo #projetos p{
    font-size: 20px;
    width: 500px;
}

.conteudo #projetos p:nth-last-child(2) {
    margin-bottom: 30px;
}

.conteudo #projetos ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.conteudo #projetos a {
    font-size: 25px;
}

.conteudo #projetos a:hover {
    text-decoration: underline;
}

.conteudo #projetos h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.conteudo #projetos img {
    width: 400px;
    border-radius: 10px;
}

.conteudo #linguagens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    font-size: 40px;
}

.conteudo #linguagens .linguagens-container {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-gap: 40px;
    padding: 40px 30px;
}

.conteudo #linguagens .html {
    background-color: red;
}

.conteudo #linguagens .css {
    background-color: rgb(40, 133, 254);
}

.conteudo #linguagens .js {
    background-color: rgb(233, 180, 48);
}

.conteudo #linguagens .linguagem {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.conteudo #linguagens p {
    font-size: 25px;
}

.conteudo #contatos {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 200px;
}

.conteudo #contatos h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.conteudo #contatos .apps {
    font-size: 40px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.conteudo #contatos li:hover .fab {
    opacity: 70%;
}